<!DOCTYPE html>
<html>
  <head>
    <title>waterFood</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="app/public/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css" rel="stylesheet" >
  </head>

  <body ng-app="FooApp" ng-controller="AppController">
  	<div class="header">
	     <h1><img src="http://i.imgur.com/yMZEtRd.png"  style="height:80px;">
  	waterFood</h1>
              <button type="button"><img src="http://i.imgur.com/909pUMY.png"  style="height:30px;" ng-click="getEvents()"></button>
              <form>
                <div id="submitbutton">
                <input type="text" ng-model="phoneNum" />
                <button type="submit" ng-click="subscribeUser()">Enter Phone Number to Subscribe to SMS Updates</button>
</div>
              </form>
       <details>
       <summary>Add Another Event</summary>
       <form>
         <p style={color: white;text-align:center}>Building:
         <select name="location" id="singleSelect" ng-model="location">
           <option ng-repeat="x in buildingList">{{x.building_code}}</option>
         </select>
       </p>
       <p>
         <div id="form">
         <input type="text" name="" placeholder="Room Number" ng-model="roomNumber"/>
         <input type="text" name="" placeholder="Serving Size" ng-model="servingSize"/>
         <input type="text" name="" placeholder="Food Provided" ng-model="foodType"/>
         <div id="time" uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="ismeridian"></div>
</p>
        </div>
         <div id="submitbutton"><button type="button" ng-click="addEvent()">Submit</button></div>
       </form>

       </details>
       </div>
  	</div class="listofevents">
      <table>
      <thead>
          <th colspan="5"> List of Free Food Events</th>
<tr>
  <th> Building </th>
  <th> Room Number </th>
  <th> Serving Size </th>
  <th> Time Started </th>
  <th> Food Given </th>
</tr>
      </thead>
      <tr ng-repeat='x in eventList'>
        <td> {{x.location}}</td>
        <td> {{x.roomNumber}}</td>
        <td>{{x.servingSize}}</td>
        <td> {{x.startingTime}}</td>
        <td> {{x.foodType}}</td>
      </tr>
      </table>
    </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
</html>
